// **************************
// Color Variables
// **************************

$lightAqua: rgba(0, 169, 157, 0.15);
$darkAqua: #00A99D;
$black: #333;
$white: #fff;

// **************************
// Break Points
// **************************
 
$deviceWidth: 600px;

// Small tablets and large smartphones (landscape view)
$screen-xs-min: 320px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// **************************
// Font Sizes
// **************************