.looaminity-facilities-holder {
  text-align: left;
  padding: 0px 25px;
  @include lg {
    padding: 0px 17%;
  }
}
.loo-aminity {
  min-height: 50vh;
  @media (max-width: 900px) {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../assets/aminities_backkground.png");
  }
}
.loo-aminity-image {
  height: 100%;
  background-color: $white;
  width: 85%;
  margin: 0 auto;
  @include lg {
    width: 100%;
  }
}
.looaminity-cleaning-info {
  background-color: $white;
  text-align: left;
  padding: 0px 25px;
  top: -3px;
  position: relative;
  @include lg {
    padding: 0px 17%;
  }
}
.looaminity-live-update {
  border-bottom: 1px solid $darkAqua;
}
.looaminity-image-holder {
  position: relative;
}
.looaminity-image-upper {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: $white;
}
.looaminity-way {
  padding-bottom: 6rem;
}
.looaminity-image-middle {
  position: relative;
  width: 100%; 
  height: 100px;
}
.looaminity-image-lower {
  position: relative;
  width: 100%; 
  height: 100px; 
  background-color: $white;
  border: 5px solid $white;
}
.looaminity-image {
  position: absolute;
  top: 12%;
  @include xs {
    left: 10%;
  }
  @include sm {
    left: 15%;
  }
  @include md {
    left: 29%;
  }
  @include lg {
    left: 37%;
  }
  @media only screen and (max-width: $deviceWidth) {
    width: 80%;
  }
}
