.loo-large-btn {
  background-color: $darkAqua !important;
  width: 344px;
  height: 60px;
  color: $white !important;
  font-size: 30px !important;
  max-width: 85%;
  border: 1px solid white !important;
}